@charset "uft-8";
/*
--------------------------
tela pq: 
Max Width: 600px
tela de tabet: 
Min Width: 600px
Max Width: 768px
tela de tabet grande
Min Width: 768px
Max Width: 992px
tela media
Min Width: 992px
Max Width: 1200px
tela grande
min width: 1200px
----------------------------
 */
/* tela pq */
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  background-color: darkgray;
  padding: 10px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

header > main > ul > li {
  text-align: center;
  padding: 5px;
  background-color: black;
  color: white;
  margin: 5px;
  border-radius: 5px;
}
header > main > ul > li:hover {
  background-color: white;
  color: black;
}
#menu {
  display: block;
}
li {
  display: none;
  list-style: none;
}
header > main > ul:hover li {
  display: block;
}
aside {
  padding: 20px;
}
p {
  text-align: justify;
  margin: 10px 0px 10px 0px;
  line-height: 30px;
  text-indent: 30px;
}
