@charset "utf-8";
/* fonte usa no site */
:root {
  --cor1: #108c0b;
  --cor2: #3a4031;
  --cor3: #f2c879;
  --cor4: #f2d0a7;
  --cor5: #a6937c;
}
body {
  background-color: var(--cor4);
  position: relative;
  height: 100vh;
}
form {
  background-color: var(--cor5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px black;
  border-radius: 10px;
  padding: 50px 20px 50px 20px;
  box-shadow: 5px 5px 10px black;
}
img {
  margin: auto;
  margin-left: 40%;
}
label {
  font-size: 1.5em;
}
.bloco_login {
  color: white;
}
.bloco_login input {
  border: solid 2px var(--cor1);
  border-radius: 10px;
}
.botao {
  font-size: 1.5em;
  width: 169px;
  margin-top: 10px;
  background-color: var(--cor1);
  border-radius: 10px;
  border: solid 2px white;
  color: white;
  padding: 5px;
}
.botao:hover {
  color: var(--cor1);
  background-color: white;
  border: solid 2px var(--cor1);
}
